div{
    height: 100px;
    width: 100px;
border:2px solid black;
display: inline-block;
    }

/*
}
#box1{
    position: static;
    background-image: url("cat.photo.jpg");
    background-size: cover;*/
    
}

#box2{
    position: relative;
    top:  20px;
    left: 25px;
    z-index: 1;

}

#box3{
    position:absolute;
    top:500px;
    left:20px;
}

#box4{
    position:fixed;
    top: 50;
    z-index: 5;
   
}

#box5{
    height: 100px;
    width:100px;
    background-image: url("nature.photo.jpg");
    background-size: cover;
    position: fixed;
    right: 0;
    top: 50px;
}